<p id="notice"><%= notice %></p>

<p>
  <b>Publication:</b>
  <%= @review.Publication %>
</p>

<p>
  <b>Restaurant:</b>
  <%= restaurant_name(@review) %>
</p>

<p>
  <b>Author:</b>
  <%= @review.Author %>
</p>

<p>
  <b>Review date:</b>
  <%= @review.Review_Date %>
</p>

<p>
  <b>Review Rating:</b>
  <%= @review.Rating_Raw %>/<%= @review.Rating_Scale %>
</p>

<p>
  <b>DineRec Rating:</b>
  <%= @review.Rating.to_i %>
</p>

<p>
  <b>Review url:</b>
  <%= @review.Review_URL %>
</p>

<p>
  <b>Review quote:</b>
  <%= @review.Review_Quote %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
